.address {
   display: block;
   font-style: italic;
   font-size: 12px;
   font-family: 'IBM Plex Sans Thai', sans-serif;
}

.indev {
   font-size: 36px;
   font-style: italic;
   position: absolute;
   font-family: 'IBM Plex Sans Thai', sans-seif;
}

.footer {
   /* position: absolute; */
   font-family: 'IBM Plex Sans Thai', sans-serif;
   font-size: 12px;
}